<div class="container banner" style="background-color: #f8d7da; color: #721c24; padding: 15px 15px 70px 15px; margin-bottom: 20px; border: 1px solid #f5c6cb; border-radius: 5px;">
    <img src="/assets/images/UU Clergy Minneapolis.jpg" alt="UU Clergy in Minneapolis"  width="250" style="float: left"> 
    <br>
    <h3 class="text-center">In a Show of Moral Clarity, UUs Join ‘ICE Out’ Demonstrations in Minneapolis</h3>
    <p class="text-center"><a href="https://www.uuworld.org/articles/minneapolis-clergy-march-ice-resistance-unitarian-universalism" target="_blank">Read the article in UU World</a></p>
</div>
