<div class="container banner" style="background-color: #f8d7da; color: #721c24; padding: 15px; margin-bottom: 20px; border: 1px solid #f5c6cb; border-radius: 5px;">
    <h3 class="text-center">Unitarian Universalist Association Condemns Military Strikes Against Venezuela</h3>
    <p>January 3, 2026</p>
    <p>The Unitarian Universalist Association (UUA) condemns the Trump Administration’s military strikes overnight against 
    the country of Venezuela, done with the express purpose of capturing its president, Nicolás Maduro, and seizing control 
    of the country in violation of international laws. These actions were taken after months of U.S. military harassment 
    resulting in the deaths of Venezuelan civilians and undertaken without involvement of Congress, according to published 
    reports. As people of faith and conscience, it is essential to speak out now as this situation quickly escalates, creating 
    dangers across the Hemisphere.</p>
    <p><a href="https://www.uua.org/pressroom/press-releases/venezuela-action" target="_blank">More</a></p>
</div>